.App {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 28px;
}

.App-header {
  background-color: #313131;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #32682b;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}