.App {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 28px;
}

.App-header {
  background-color: #858585;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
  background-color:#ccc;
  padding: 12px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.App-link:hover {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.63);
  transition: box-shadow 0.3s ease;
}

.App-link:focus-visible {
  background-color:#9e9c9c;
  transition: box-shadow 0.3s ease;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}